<br />
<div class="row wrong">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <a href="/bully">
      <div class="col-sm-6 square blue text-center">
        <div class="row"><br /></div>
        <div class="row"><p>Someone was mean to me</p></div>
        <div class="row"><br /></div>
      </div>

      <a href="/grumpy">
      <div class="col-sm-6 square purple text-center">
        <div class="row"><br /></div>
        <div class="row"><p>I woke up on the wrong side of the bed</p></div>
        <div class="row"><br /></div>
      </div></a>
    </div>

    <div class="row">
      <a href="/stressed">
      <div class="col-sm-6 square pink text-center">
        <div class="row"><br /></div>
        <div class="row"><p>I have too much work to do!!!</p></div>
        <div class="row"><br /></div>
      </div></a>

      <a href="/screwed-up">
      <div class="col-sm-6 square teal text-center">
        <div class="row"><br /></div>
        <div class="row"><p>I screwed something up</p></div>
        <div class="row"><br /></div>
      </div></a>
    </div>
  </div>
</div>  