<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <div class="exploding-code-box">
      <div class="exploding-content"> 
        <div class="blow-it-up"><a href="#">   
          <h2>Who me?</h2>
          <img src="./images/blame-cat-<%= rand(1..4)%>.jpg">
          <h3>Click to escape the blame.</h3>
        </a></div>
      </div>
    </div>
  </div>
</div>